@model IEnumerable<RecordShop.Models.Format>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Formats</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-info" asp-action="Create">Add New Format</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <table class="table table-striped border">
            <thead>
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(m => item.Name)</td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

