@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4"><strong>V's Record Shop</strong></h1>
    <h4 class="text-muted">Management System</h4>
</div>
<br />
<br />
<div class="text-md-start">
    <p>Here we keep track of the Records that are currently provided to us and the Seller's information for each one of these records.</p>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <p><strong>The information for the Records that can be added is:</strong></p>
            <ul>
                <li>Name of the artist or band</li>
                <li>Album name</li>
                <li>Year of release</li>
                <li>Country of release</li>
                <li>Genre</li>
                <li>Format of the record - Vinyl, CD, Cassette, etc.</li>
                <li>Price</li>
            </ul>
        </div>
        <div class="col-sm-7">
            <p><strong>The information for the Seller that can be added is:</strong></p>
            <ul>
                <li>Name</li>
                <li>Email</li>
                <li>Phone number</li>
            </ul>
        </div>
    </div>
    <br />
    <p>Only Executives and Admin can add new data.</p>
    <p>New users can be added only by the Admin.</p>
    <p>A person without account can only browse through the records.</p>
</div>
